{% extends 'main/base.html' %}

{% block title %}
Unit List
{% endblock %}

{% block buttons %}
            <li>
                <a href="{% url 'unit_list' pk %}" class="nav-link link-primary text-white">
                    Units
                </a>
            </li>
<li>
                <a href="{%url 'system_list'%}" class="nav-link link-primary text-white">
                    Prediction
                </a>
            </li>
            <li>
                <a href="{%url 'system_list'%}" class="nav-link link-primary text-white">
                    Expert
                </a>
            </li>
              {% endblock %}


{% block content %}
<h1 class="text-center">Units</h1>
<hr>
<div class="container">
        <div class="row">
            <div class="col-8 px-3 me-5">
                <h4>Components</h4>
                </div>
            <div class="col px-3 me-1">
      <h4>Text</h4>
    </div>
</div>
    <div class="row my-1" style="height: 600px;">

    <div class="col-8 px-0 me-5 overflow-auto mh-100 border border-dark bg-light shadow bg-secondary rounded">
<ul class="list-group pe-0">
{% for unit in units %}

    <a class="list-group-item list-group-item-action" href="{% url 'unit_detail' unit.system.id unit.id %}">{{ unit.name }} - {{ unit.failure_probability }}</a>

    {% empty %}

    <p>No units yet.</p>
{% endfor %}
</ul>


    </div>

    <div class="col border border-dark bg-light shadow bg-secondary rounded">
      2
    </div>
    </div>
    <div class="row my-1" style="height: 250px;">
        <div class="col-12 border border-dark bg-light shadow bg-secondary rounded">
        3
        </div>
  </div>
</div>

<a href="{%url 'system_list'%}" class="btn btn-outline">Back</a>

{% endblock %}