{% extends 'main/base.html' %}

{% block title %}
Unit List
{% endblock %}

{% block content %}
<h1>Units</h1>
<table class="table ">
    <tbody class="table-group-divider">
    {% for unit in units %}
    <tr>
      <td>
           <a href="{% url 'unit_detail' unit.system.id unit.id %}">{{ unit.name }}</a>
      </td>
      <td>{{ unit.failure_probability }}</td>
    </tr>
    {% empty %}
        <tr>
    <td>No units yet.</td>
{% endfor %}
    </tr>
  </tbody>
</table>

<a href="{%url 'system_list'%}" class="btn btn-outline">Back</a>

{% endblock %}